  <style type="text/css">
  /*overwriting default*/
      body{
            padding-top: 0px;
            padding-bottom: 0px;
          }
        .container{
            max-width: 100%;
        }
        /*end of overwriting default*/
        .topcoat-list ul li{
            vertical-align: middle;
        }
        .topcoat-list ul li img{
            width: 100px;
            height: 100px;
        }
        </style>
<div ng-controller="MainCtrl">
  {{awesomeThings}}
</div>
              <div class="topcoat-list">
                <h3 class="topcoat-list__header">Homes R'Us</h3>
                <ul class="topcoat-list__container">
                  <li class="topcoat-list__item" style="display:inline-flex;">
                    <img src="http://www.ikea.com/ms/en_AE/img/campaigns/low-price/jokkmokk-table_UAE.JPG"/>
                    <div>
                    <h3>Dinning Table</h3>

                    <span>description</span>
                    </div>
                  </li>
                  <li class="topcoat-list__item">
                  <img src="http://www.ikea.com/ms/en_AE/img/campaigns/low-price/kusiner-box_.JPG"/>
                   <p>KUSINER</p>
                  </li>
                  <li class="topcoat-list__item">
                    <img src="http://www.ikea.com/ms/en_AE/img/campaigns/low-price/raskog-trolley.JPG"/>
                    <p>RACK</p>
                  </li>
                </ul>
              </div>
 
