  <style type="text/css">
  /*overwriting default*/
      body{
            padding-top: 0px;
            padding-bottom: 0px;
          }
        .container{
            max-width: 100%;
        }
        /*end of overwriting default*/
        .topcoat-list ul li{
            vertical-align: middle;
        }
        .topcoat-list ul li img{
            width: 100px;
            height: 100px;
        }
        </style>


        <style type="text/css">
/*@media screen and (min-width: 640px) { /* @media screen and (min-width: 880px) { 
      .slide-menu-button {
          display:none;
      }
      .main-content {
          left:320px;
          right:0;
          width:auto;
      }
    }*/

    /*sliding*/
  html, body {
    margin:0;
    padding:0;
    height: 100%;
}
body {
    font-family: source-sans-pro, sans-serif;
    position: relative;
    width: 100%;
    height:100%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}
body.left-nav .topcoat-navigation-bar, body.left-nav .main-content {
    left:250px;
}
.topcoat-navigation-bar {
    position:absolute;
    width:100%;
    z-index:100;
    transition: left 0.2s ease-out;
    -webkit-transition: left 0.2s ease-out;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}
.side-nav {
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:320px;
    height:100%;
    background-color:#353535;
}
.main-content {
    position: absolute;
    background: inherit;
    left: 0;
    padding-top:4rem;
    width:100%;
    height:100%;
    transition: left 0.2s ease-out;
    -webkit-transition: left 0.2s ease-out;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.57);
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.57);
}
   .side-nav__list__container {
    margin-top:4rem;
    border-top:none;
    border-bottom:none;
}
.side-nav__list {
    border-top:none;
}
.side-nav__list__item {
    padding:0;
}
.side-nav__list__item.is-active {
    background-color:#353535;
}
.side-nav__button {
    display:block;
    width:100%;
    height:100%;
    padding: 1.25rem;
    box-sizing: border-box;
    color: #c6c8c8;
    text-decoration:none;
}
.side-nav__button:hover {
    background-color:#747474;
}
.side-nav__button:active {
    background-color:#353535;
}
</style>
<div ng-controller="CategoryctrlCtrl">
<div class="topcoat-navigation-bar" >

            <div class="topcoat-navigation-bar__item left quarter" ng-click="clickCategory()">
                <a id="slide-menu-button" class="topcoat-icon-button--quiet slide-menu-button">
                    <span class="topcoat-icon topcoat-icon--menu-stack"></span>
                </a>
            </div>
            <div class="topcoat-navigation-bar__item center half">
                <h1 class="topcoat-navigation-bar__title">Homes R'Us</h1>
            </div>
            <div class="topcoat-navigation-bar__item right quarter">
                <a class="topcoat-icon-button--quiet" >
                    <span class="topcoat-icon topcoat-icon--edit"></span>
                </a>
            </div>
        </div>
        <!-- side navigation > Ref# http://outof.me/navigation-drawer-pattern-with-topcoat-css-library/-->

        <nav class="side-nav" style="background-color:transparent;"  >
            <div class="topcoat-list__container side-nav__list__container">
                <ul class="topcoat-list side-nav__list">
                  <li class="topcoat-list__item side-nav__list__item" ng-repeat="cat in categories">
                     <a href="#" class="side-nav__button">{{cat}}</a>
                  </li>
                </ul>
            </div>
        </nav>
        <!-- end of side navigation -->
        </div>


<div ng-controller="MainCtrl" class="main-content">
              <div class="topcoat-list">
                <ul class="topcoat-list__container">
                <li class="topcoat-list__item" style="" ng-repeat="prd in products">
                 <img src="{{prd.url}}"/>
                 <div style="display: inline-block;vertical-align: top;">
                 <input type="button" ng-click="onclick()" value="Show More" />
                    <h3>{{prd.name}}</h3>

                    <span>{{prd.descp}}</span>
                    </div>
                  
                </li>
                 <!--  <li class="topcoat-list__item" style="display:inline-flex;">
                    <img src="http://www.ikea.com/ms/en_AE/img/campaigns/low-price/jokkmokk-table_UAE.JPG"/>
                    <div>
                    <h3>Dinning Table</h3>

                    <span>description</span>
                    </div>
                  </li>
                  <li class="topcoat-list__item">
                  <img src="http://www.ikea.com/ms/en_AE/img/campaigns/low-price/kusiner-box_.JPG"/>
                   <p>KUSINER</p>
                  </li>
                  <li class="topcoat-list__item">
                    <img src="http://www.ikea.com/ms/en_AE/img/campaigns/low-price/raskog-trolley.JPG"/>
                    <p>RACK</p>
                  </li> -->
                </ul>
              </div>
</div>
 
